*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0e0d0d;}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 60px;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #000f);
}

.container .box{
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #00f376 10%, transparent 10%, transparent 50%, #00f376 50%, #00f376 60%, transparent 60%, transparent 100%);
    background-size: 40px 40px;
    transform: rotate(calc(var(--1) * 90deg ));
    filter:  hue-rotate(calc(var(--1) * 90deg));
    animation: animate 0.5s linear infinite;
}
@media (max-width: 914px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .box{
        margin: 20px;
    }
}
@keyframes animate {
    0%{
        background-position: 0;
    }
    
    100%{
        background-position: 40px;
    }
}